<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&mode=debug" type="text/javascript"></script>
    <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
</head>
<body>
<div class="wrapper">
    <div id="map" class="map"></div>
</div>
</body>
</html>
